<a href="https://colab.research.google.com/github/vandien201462C/BT1/blob/main/Ai1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
value1 = int(input("Nhap vao so thu 1:  "))
value2 = int(input("Nhap vao so thu 2:  "))
print("Ket qua la:",value1 + value2)

Nhap vao so thu 1:  4
Nhap vao so thu 2:  7
Ket qua la: 11

In [ ]:
with open('text.txt', mode='w') as accounts:
  accounts.write('201461 Nguyen Van A      9.0 \n')
  accounts.write('201462 Nguyen Van B      9.0 \n')
  accounts.write('201463 Nguyen Van C      8.0 \n')
  accounts.write('201464 Nguyen Van D      8.0 \n')
  accounts.write('201465 Nguyen Van E      8.0 \n')
  accounts.write('201466 Nguyen Van F      8.0 \n')

In [ ]:
import pandas as pd
ulr = '/content/drive/MyDrive/AI/Book1.csv'
dataframe = pd.read_csv(ulr)
dataframe.head(10) 
dataframe.iloc[:]

       MSSV      Name Khoa   K  Score
0   2014001  Nguyen A  CKM  20      7
1   2014002  Nguyen B   KT  20      3
2   2014003  Nguyen C   LS  19      4
3   2014003  Nguyen D  CKM  19      5
4   2014004  Nguyen E  CKM  19      2
5   2014005  Nguyen F  CKM  19      6
6   2014006  Nguyen J  CKM  21      8
7   2014007  Nguyen K  CKM  21      9
8   2014008  Nguyen L  CKM  21     10
9   2014009  Nguyen M   KT  20     10
10  2014010  Nguyen N   KT  20      8
11  2014011  Nguyen Y   KT  20      8
12  2014012  Nguyen Z   KT  20      9

In [ ]:
frame = dataframe.set_index(dataframe['Name'])
frame.loc['Nguyen A']

MSSV      2014001
Name     Nguyen A
Khoa          CKM
K              20
Score           7
Name: Nguyen A, dtype: object

In [ ]:
dataframe[dataframe['Khoa']=='CKM'].head(5)

      MSSV      Name Khoa   K  Score
0  2014001  Nguyen A  CKM  20      7
3  2014003  Nguyen D  CKM  19      5
4  2014004  Nguyen E  CKM  19      2
5  2014005  Nguyen F  CKM  19      6
6  2014006  Nguyen J  CKM  21      8

In [ ]:
dataframe[(dataframe['Khoa']=='CKM')&(dataframe['K']==20)]

      MSSV      Name Khoa   K  Score
0  2014001  Nguyen A  CKM  20      7

In [ ]:
dataframe[(dataframe['Khoa']=='CKM')&(dataframe['Score']>5)]

      MSSV      Name Khoa   K  Score
0  2014001  Nguyen A  CKM  20      7
5  2014005  Nguyen F  CKM  19      6
6  2014006  Nguyen J  CKM  21      8
7  2014007  Nguyen K  CKM  21      9
8  2014008  Nguyen L  CKM  21     10

In [ ]:
dataframe['Score'].min()

2

In [ ]:
dataframe['Score'].sum()

89

In [ ]:
dataframe['Score'].count()

13

In [ ]:
dataframe['Score'].unique()

array([ 7,  3,  4,  5,  2,  6,  8,  9, 10])

In [ ]:
dataframe.groupby('Score').count()

       MSSV  Name  Khoa  K
Score
2         1     1     1  1
3         1     1     1  1
4         1     1     1  1
5         1     1     1  1
6         1     1     1  1
7         1     1     1  1
8         3     3     3  3
9         2     2     2  2
10        2     2     2  2

In [ ]:
import numpy as np 
import pandas as pd

time = pd.date_range('01/01/2023',periods = 100000, freq = '30s')
dataframe = pd.DataFrame(index = time)
dataframe['Name'] = np.random.randint(1,10,100000)
dataframe.resample('w').sum()

              Name
2023-01-01   14517
2023-01-08  101234
2023-01-15  100645
2023-01-22  101800
2023-01-29  101532
2023-02-05   82245

In [ ]:
import pandas as pd 
url ='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver